body {
   background: url('../img/woods.jpg');
   background-size: cover;
   background-color: grey;
   background-blend-mode: darken;
   background-repeat: no-repeat;
   background-attachment: fixed;

}
/*--------------HEADER---------------*/
#header {
   height: 100px;
   background-color: rgb(80,85,94);
   background-color: rgba(80,85,94,0.5);
   //background-color: green;
}
#logo {
   float: left;
   position: relative;
   top: 10px;
   left: 20px;
}
#topMenu {
   float: right;
   position: relative;
   top: 45px;
   right: 20px;
}
#topMenuList li {
   display: inline-block;
   margin-right: 13px;
}
.topMenuItems{
   color: pink;
   text-decoration: none;
   font-family: "Frutiger Neue W02 Thin",Arial,Helvetica,sans-serif;
}
.topMenuItems:hover{
   color: #F47983;
}
/*--------------FOOTER---------------*/
#footer {
   height: 60px;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgb(80,85,94);
   background-color: rgba(80,85,94,0.5);
   //background-color: purple;
}
/*--------------BODY---------------*/
#body {
   overflow: auto;
   //background-color: pink;
}
.post {
   height: 200px;
   width: 90%;
   position: relative;
   margin-top: 40px;
   left: 5%;
   background-color: rgba(80,85,94,0.7)
}
.post:last-child {
   margin-bottom: 40px;
}

/*----------SCROLLBAR-----------*/
#body::-webkit-scrollbar * {
    background:transparent;
}
#body::-webkit-scrollbar
{
	width: 12px;
}
#body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: grey;
}
/*------------------------------------*/
