#header {
   height: 100px;
   background-color: rgb(80,85,94);
   background-color: rgba(80,85,94,0.5);
}
#b {
   height: 500px;
}
#footer {
   height: 100px;
   background-color: rgb(80,85,94);
   background-color: rgba(80,85,94,0.5);
}

body {
   background: url('img/woods.jpg');
   background-size: cover;
   background-color: grey;
   background-blend-mode: darken;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
#logo {
   //display: inline-bloc;
   float: left;
   position: relative;
   top: 10px;
   left: 20px;
   //width: 200px;
   //height: 60px;
   //background-color: pink;
}
#topMenu {
   //display: inline-block;
   //display: inline;
   float: right;
   position: relative;
   top: 45px;
   right: 20px;
   //width: 500px;
   //height: 50px;
   //background-color: lightblue;
}
#topMenuList li {
   display: inline-block;
   //float: right;
   margin-right: 13px;
}

.topMenuItems{
   color: pink;
   text-decoration: none;
   font-family: "Frutiger Neue W02 Thin",Arial,Helvetica,sans-serif;
}
.topMenuItems:hover{
   color: #F47983;
}
.post {

}
